
    <h1>Me on the web</h1>

    <p><a href="https://bitbucket.org/Amfey/"> My bitbucket</a></p>

    <p><a href="https://www.linkedin.com/in/andrzej-michalski-a43a53152/"> My LinkedIn</a></p>

    <p><a href="https://www.facebook.com/andrzej.michalski.940"> My facebook</a></p>

    <p><a href="https://www.codewars.com/users/Amfey"> My codewars</a></p>

    <h1>My work</h1>

    <p><a href="https://www.pgi.gov.pl/">PIG-PIB</a></p>

    <p><a href="https://improveo.org/">Improveo</a></p>

    <h2>My CV</h2>








